:root[data-mantine-color-scheme='light'] {
    --mantine-color-body: black !important;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a, button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    text-decoration: none !important;
    font-size: inherit;
    outline: none;
    background: none;
    border-width: 0;
}

a:hover {
    text-decoration: none !important;
}

// visually hide any element accesibly (e.g. you need an h1 element on a page but dont wanna visually show it)

.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

.defaultButton {
    padding: 4px 40px;
    background-color: white;
    color: black;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;

    @media only screen and (max-width: $mantine-breakpoint-xs) {
        --button-height: var(--button-height-sm) !important;
        --button-padding-x: var(--button-padding-x-sm) !important;
        --button-fz: var(--mantine-font-size-sm) !important;
        padding: 4px 48px;
    }

    &:hover {
        background-color: var(--mantine-color-primary-9);
        color: white;
    }
}