@use '../../styles/variables.module.scss' as *;

@mixin transition {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.navLink {
    font-weight: 600;
    color: var(--mantine-color-primary-9);
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    margin-right: 12px;
    font-size: var(--mantine-font-size-lg);

    &:hover {
        color: var(--mantine-color-primary-4);
        background-color: transparent;
        scale: 1.1;
    }
}


.linkContainerMobile {
    padding-inline: var(--mantine-spacing-xl);
    padding-block: var(--mantine-spacing-xl);
    flex-wrap: wrap;
}

.navbarBg {
    padding: 12px 0;
    background-color: transparent;
    @include transition;

    path {
        fill: var(--mantine-color-primary-9);
    }
}

.navbarScrolled {
    background: rgba(34, 34, 34, 0.15);
    backdrop-filter: blur(8px);
    @include transition;

    .navGroup {
        gap: 8px;

    }

    .logo {
        scale: 1.0;
    }

    .navLink {
        color: var(--mantine-color-primary-9);

        &:hover {
            color: var(--mantine-color-primary-4);
        }

        &:not(.active) {
            cursor: pointer;
        }

        &.active {
            color: var(--mantine-color-primary-4);
            background-color: transparent;
        }


    }

    svg {
        path {
            fill: var(--mantine-color-primary-9) !important;
        }


        &:hover {
            path {
                fill: var(--mantine-color-primary-4) !important;
            }

        }
    }
}

.navGroup {
    width: 100%;
    gap: 28px;
    @include transition;
}

.logo {
    max-height: 45px;
    cursor: pointer;
    width: 100px;
    scale: 2.2;
    @include transition;

    @media only screen and (max-width: $mantine-breakpoint-sm) {
        max-height: 35px;
        scale: 1.0;
    }
}

.footerLink {
    color: var(--mantine-color-grey-0);
    font-weight: 600;

    &:hover {
        text-decoration: underline !important;
        color: var(--mantine-color-grey-2) !important;
    }
}