.aboutImage {
    width: 100% !important;
    height: unset !important;
    position: relative !important;
}

.aboutDescription {
    color: white;

    p {

        font-weight: 500;
        font-size: 18px;
        text-align: justify;
    }

}