@use '../../../styles/variables.module.scss' as *;

.contactContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 32px;
    background: black;

    label {
        margin-bottom: 8px;
        color: white;
    }

    @media only screen and (max-width: $mantine-breakpoint-sm) {
        padding: 8px;
    }
}

.contactSection {
    gap: 48px;
    justify-content: center;

    @media only screen and (max-width: $mantine-breakpoint-sm) {
        flex-direction: column;
        gap: 56px;
    }
}

.otherContacts {
    margin-top: -15%;

    @media only screen and (max-width: $mantine-breakpoint-sm) {
        margin-top: 0;
    }

}

.contactLinkContainer {
    gap: 16px !important;

    svg {
        path {
            fill: white;
        }

        &:hover {
            path {
                fill: var(--mantine-color-primary-9);
            }
        }
    }

    @media only screen and (max-width: $mantine-breakpoint-sm) {
        margin-top: 16px;
    }
}