@use '../../../styles/variables.module.scss' as *;

.liveRow {
    padding: 20px 24px;
    width: 100%;
}

.location {
    >p:first-child {
        font-size: 60px;

        @media only screen and (max-width: $mantine-breakpoint-xs) {
            font-size: 40px;
        }
    }

    >p:last-child {
        font-size: 28px;

        @media only screen and (max-width: $mantine-breakpoint-xs) {
            font-size: 20px;
        }
    }
}

.pastShowTitle {
    margin-top: 28px;
}

.liveGridSection {
    position: relative;
}

.showMore {
    display: flex;
    justify-content: center;

    &::after {
        content: '';
        position: absolute;
        display: block;
        bottom: 50px;
        left: 0;
        width: 100%;
        height: 120px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--mantine-color-grey-2) 100%);
        transition: opacity 0.3s ease;
    }
}