@use '../../../styles/variables.module.scss' as *;

.liveContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding-top: 64px;
    padding-bottom: 64px;
    gap: 40px;

    @media only screen and (max-width: $mantine-breakpoint-sm) {
        gap: 24px;
    }
}

.pastShowTitle {
    margin-top: 28px;

    @media only screen and (max-width: $mantine-breakpoint-xs) {
        margin-top: 16px;
    }
}

.liveGridSection {
    position: relative;
    width: 100%;
}

.showMore {
    display: flex;
    justify-content: center;

    &::after {
        content: '';
        position: absolute;
        display: block;
        bottom: 50px;
        left: 0;
        width: 100%;
        height: 120px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--mantine-color-grey-2) 100%);
        transition: opacity 0.3s ease;
    }
}

// LIVEROW

.liveRow {
    padding: 20px 24px;
    width: 100%;

    @media only screen and (max-width: $mantine-breakpoint-xs) {
        padding: 16px;
    }
}

.location {
    >p:first-child {
        font-size: 60px;

        @media only screen and (max-width: $mantine-breakpoint-xs) {
            font-size: 40px;
        }
    }

    >p:last-child {
        font-size: 28px;

        @media only screen and (max-width: $mantine-breakpoint-xs) {
            font-size: 16px;
        }
    }
}

.date {
    font-size: 24px;

    @media only screen and (max-width: $mantine-breakpoint-xs) {
        font-size: 20px;
    }
}