@use '../../../styles/variables.module.scss' as *;

.pastShowTitle {
    margin-top: 28px;

    @media only screen and (max-width: $mantine-breakpoint-xs) {
        margin-top: 16px;
    }
}

.liveGridSection {
    position: relative;
}

.showMore {
    display: flex;
    justify-content: center;

    &::after {
        content: '';
        position: absolute;
        display: block;
        bottom: 50px;
        left: 0;
        width: 100%;
        height: 120px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--mantine-color-grey-2) 100%);
        transition: opacity 0.3s ease;
    }
}

// LIVEROW

.liveRow {
    padding: 20px 24px;
    width: 100%;

    @media only screen and (max-width: $mantine-breakpoint-xs) {
        padding: 16px;
    }
}

.location {
    >p:first-child {
        font-size: 60px;

        @media only screen and (max-width: $mantine-breakpoint-xs) {
            font-size: 32px;
        }
    }

    >p:last-child {
        font-size: 28px;

        @media only screen and (max-width: $mantine-breakpoint-xs) {
            font-size: 20px;
        }
    }
}

.date {
    font-size: 24px;

    @media only screen and (max-width: $mantine-breakpoint-xs) {
        font-size: 20px;
    }
}

.ticketButton {
    padding: 4px 56px;
    background-color: white;
    color: black;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;

    @media only screen and (max-width: $mantine-breakpoint-xs) {
        --button-height: var(--button-height-sm) !important;
        --button-padding-x: var(--button-padding-x-sm) !important;
        --button-fz: var(--mantine-font-size-sm) !important;
        padding: 4px 48px;
    }

    &:hover {
        background-color: var(--mantine-color-primary-9);
        color: white;
    }
}